h1 {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(214, 214, 214);
}

a {
    text-decoration: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 250;
    width: 250;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(214, 214, 214);
    padding: 10px;
  }
  .grid-item {
    background-color: rgb(214, 214, 214);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.textcenter{
    margin-left: auto;
    margin-right: auto;
}



.homebutton{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box;
}



.header {
    text-align: center;
    padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.container {
    text-align: center;
    
}

.container pre {
    display: inline-block;
    text-align: left;
    
}
